<!-- Add you custom twig html here -->

{#
{{ dump(_context|keys) }}
#}

<p>{% trans %} You have been successfully unsubscribed from the newsletter. {% endtrans %} </p>


<p>You can resubscribe <a href="{{ url('smmg_newsletter.subscribe.form') }}">here</a> at any time.</p>
