<!-- Add you custom twig html here -->

{#
{{ dump(_context|keys) }}
#}

<h2>{% trans %} Here you can subscribe or unsubscribe our newsletter. {% endtrans %}

</h2>


<p><a href="{{ url('smmg_newsletter.subscribe') }}">{% trans %} Subscribe {% endtrans %}

</a></p>
<p><a href="{{ url('smmg_newsletter.unsubscribe') }}">{% trans %} Unsubscribe {% endtrans %}

</a></p>