<!-- Add you custom twig html here -->

<h2>Hello {{ address.first_name }}</h2>

<p>Thank you for subscribing to our Newsletter!</p>


<p>You can unsubscribe <a href="{{ url('smmg_newsletter.unsubscribe') }}">here</a> at any time.</p>