<!-- Add you custom twig html here -->


<p>You have been successfully unsubscribed from the newsletter</p>


<p>You can resubscribe <a href="{{ url('smmg_newsletter.subscribe') }}">here</a> at any time</p>